body,
input,
h1 {
  margin: 0;
  padding: 0;
}

#gallery {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

img {
  margin: 5px;
  width: 490px;
  height: 300px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
